---
title: Minyan Dafna
layout: default
---

  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
<div id="cbp-so-scroller" class="cbp-so-scroller">

 <div id="blacklivesmatter" class="featurette cbp-so-section" >
    <div class="container marketing">
 {% capture blacklivesmatter2020 %}{% include blacklivesmatter2020.md %}{% endcapture %}
  {{ blacklivesmatter2020 | markdownify }}
    </div><!-- /.container .marketing -->
</div><!--  /#blacklivesmatter  -->

  <!-- <hr class="featurette-divider">
<div id="highholidays" class="featurette cbp-so-section" >
   <div class="container marketing">
{% capture highholidays %}{% include highholidays5781.md %}{% endcapture %}
 {{ highholidays | markdownify }}
   </div>
</div> -->
  <hr class="featurette-divider ">

{% include events.html %}

  <hr class="featurette-divider">
  {% include about.html %}

  <hr class="featurette-divider ">
<!--    <hr class="featurette-divider">
-->


{% include contact.html %}
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
</div>
