---
layout: default
title: Minyan Dafna
---

  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
<div id="cbp-so-scroller" class="cbp-so-scroller">

{% include about.html %}

<hr class="featurette-divider ">

{% include events.html %}

  <hr class="featurette-divider">

  <div id="holidays" class="featurette cbp-so-section" >
     <div class="container marketing">
  {% capture holidays5777 %}{% include holidays5777.md %}{% endcapture %}
   {{ holidays5777 | markdownify }}
     </div><!-- /.container .marketing -->
 </div><!--  /#holidays5777  -->


   <hr class="featurette-divider">


{% include contact.html %}
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
</div>
