body {
  color: #5a5a5a;
  font-family: neris, sans-serif; }

footer {
  padding: 1em; }

a {
  color: #16A4D4; }

a:hover {
  color: #FFA841; }

.form-group.focus .form-control, .form-control:focus {
  border-color: #16A4D4; }

.navbar-default {
  /*	background-color: rgba(236, 238, 240,.5);*/
  background: transparent;
  -webkit-transition: background-color 0.5s ease-in-out 0s;
  transition: background-color 0.5s ease-in-out 0s; }

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0; }
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px; }

.navbar-light {
  display: none !important; }

.navbar .nav > li > a, .navbar .navbar-brand {
  color: #16A4D4;
  font-weight: 600; }

.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover, .navbar .nav > li.active > a:focus, .navbar .nav > li > a:hover, .navbar .nav > li > a:focus, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #FFA841; }

a.navbar-light {
  color: #16A4D4 !important; }

a:hover.navbar-light, .active .navbar-light {
  color: #FFA841 !important; }

.navbar-default .navbar-toggle:hover:before, .navbar-default .navbar-toggle:focus:before {
  color: #16A4D4; }

.jumbotron {
  /*	height: 650px;*/
  background: url('/img/watercloud_blur_light.jpg') fixed;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 0;
  margin-top: -50px; }
  .jumbotron h1 {
    margin-top: 100px;
    /*	background: url('ami_logo.png');
    width: 600px;
    height: 400px;*/ }
  .jumbotron img {
    display: block;
    margin: auto;
    margin-top: 50px; }

.logo {
  max-height: 400px; }

.mark-top {
  margin-top: 0;
  margin-bottom: 30px; }

@media (min-width: 992px) {
  .jumbotron h1 {
    margin-top: 200px; } }

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 100px;
  padding-bottom: 50px; }
  .marketing .col-sm-4 {
    text-align: center;
    margin-bottom: 100px; }
  .marketing .col-sm-4 p {
    margin-left: 10px;
    margin-right: 10px; }

.front_icons {
  font-size: 200px;
  line-height: 100px; }

.flaticon-love20, .flaticon-stars4 {
  color: #16A4D4; }

.flaticon-book126 {
  color: #FFA841; }

@media (min-width: 768px) {
  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px; } }

.featurette-divider {
  display: none;
  margin: 80px 0; }

.featurette {
  padding: 100px 15px; }

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px; }

#shabbat {
  background: #FFA841; }
  #shabbat dt {
    text-transform: uppercase; }

#events {
  background: #fef2c4;
  background: -webkit-linear-gradient(45deg, #fef2c4 0%, #fef2c4 50%, #fee5b3 51%, #ffd8a3 100%);
  background: linear-gradient(45deg, #fef2c4 0%, #fef2c4 50%, #fee5b3 51%, #ffd8a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef2c4', endColorstr='#ffd8a3',GradientType=1 ); }

#contact {
  background-color: #16A4D4; }
  #contact a {
    color: #ccc; }
    #contact a:hover {
      color: #FFA841; }

div.bpt_ticket_widget {
  margin-left: auto !important;
  margin-right: auto !important; }

#mc_embed_signup {
  background: #fff;
  padding: 10%; }

.btn-warning {
  background-color: #FFA841; }

@media (min-width: 768px) {
  .featurette {
    background-attachment: fixed; }
  .featurette-heading {
    font-size: 50px; } }

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px; } }

.cbp-so-scroller {
  /*	margin-top: 3em;*/
  overflow: hidden; }

/*.cbp-so-section {
	margin-bottom: 15em;
}*/
/* Clear floats of children */
.cbp-so-section:before, .cbp-so-section:after {
  content: " ";
  display: table; }

.cbp-so-section:after {
  clear: both; }

/* Text styling */
/*.cbp-so-section h2 {
	font-size: 5em;
	font-weight: 300;
	line-height: 1;
}

.cbp-so-section p {
	font-size: 2em;
	font-weight: 300;
}*/
/* Sides */
.cbp-so-side {
  /*	width: 50%;
	float: left;
	margin: 0;
	padding: 3em 4%;
	overflow: hidden;
	min-height: 12em;*/
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s; }

/* Clear floats of children */
.cbp-so-side:before, .cbp-so-side:after {
  content: " ";
  display: table; }

.cbp-so-side:after {
  clear: both; }

/*.cbp-so-side-right {
	text-align: left;
}

.cbp-so-side-left {
	text-align: right;
}
*/
.cbp-so-side-right img {
  float: left; }

.cbp-so-side-left img {
  float: right; }

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
  opacity: 0; }

.cbp-so-init .cbp-so-side-left {
  -webkit-transform: translateX(-80px);
  -ms-transform: translateX(-80px);
  transform: translateX(-80px); }

.cbp-so-init .cbp-so-side-right {
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px); }

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left, .cbp-so-section.cbp-so-animate .cbp-so-side-right {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1; }

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
*/
/* Example media queries */
@media screen and (max-width: 73.5em) { }

@media screen and (max-width: 41.125em) { }

#full-clndr {
  font-weight: 700;
  font-size: 18px; }
  #full-clndr a {
    text-decoration: none;
    color: #16a4d4;
    padding: 0 2px;
    /*    border-radius: 2px;*/
    -webkit-transition: background-color 0.2s color 0.4s;
    transition: background-color 0.2s color 0.4s; }
    #full-clndr a:hover {
      background-color: #FFA841;
      color: #212121; }
  #full-clndr .clndr-grid .days-of-the-week {
    width: 100%; }
    #full-clndr .clndr-grid .days-of-the-week .header-day {
      float: left;
      width: 12.2857%;
      padding: 14px;
      text-align: center;
      background: rgba(255, 255, 255, 0.5);
      color: rgba(0, 0, 0, 0.75);
      margin: 1%; }
  #full-clndr .clndr-grid .days {
    width: 100%; }
    #full-clndr .clndr-grid .days .day, #full-clndr .clndr-grid .days .empty {
      float: left;
      width: 12.2857%;
      /*    height: 66px;*/
      padding: 10px 0;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      background-color: rgba(0, 0, 0, 0.4);
      /*    border-bottom: 2px solid white;*/
      margin: 1%;
      font-size: 30px; }
      #full-clndr .clndr-grid .days .day.event, #full-clndr .clndr-grid .days .empty.event {
        background: #16A4D4;
        color: #fff; }
    #full-clndr .clndr-grid .days .today {
      background-color: rgba(255, 255, 255, 0.9);
      color: rgba(0, 0, 0, 0.75); }
  #full-clndr .event-listing .event-listing-title {
    padding: 14px;
    background-color: #16a4d4;
    text-align: center;
    color: white;
    letter-spacing: 1px; }
  #full-clndr .event-listing .event-item {
    display: block;
    padding: 0 14px;
    background: #16A4D4;
    color: #fff;
    margin: 20px 0;
    border-radius: 0; }
    #full-clndr .event-listing .event-item p {
      font-weight: 400;
      margin: 15px 0; }

.event-item-name {
  font-size: 30px;
  font-weight: 600;
  margin-top: 15px; }

.event-item-date {
  font-size: 20px;
  font-weight: 400; }

.day.adjacent-month .day-number, .empty.adjacent-month .day-number {
  opacity: 0.3; }

@media all and (max-width: 768px) {
  #full-clndr .clndr-grid {
    float: none;
    width: 100%;
    border: 0; }
  #full-clndr .event-listing {
    float: none;
    width: 100%; } }

.clndr-controls {
  display: inline-block;
  width: 100%;
  margin-bottom: 3px; }
  .clndr-controls .clndr-button {
    float: left;
    width: 48%;
    padding: 14px;
    margin: 1%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 30px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .clndr-controls .clndr-button:hover {
      background: rgba(0, 0, 0, 0.5);
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      color: rgba(255, 255, 255, 0.9); }
  .clndr-controls .month {
    float: left;
    width: 68.8%;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    margin: 1%; }

.modal-footer {
  text-align: center; }

@font-face {
  font-family: "Flaticon";
  src: url("/fonts/flaticon.eot");
  src: url("/fonts/flaticon.eot#iefix") format("embedded-opentype"), url("/fonts/flaticon.woff") format("woff"), url("/fonts/flaticon.ttf") format("truetype"), url("/fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  /*        font-size: 20px;*/
  font-style: normal;
  /*margin-left: 20px;*/ }

.flaticon-book126:before {
  content: "\e000"; }

.flaticon-love20:before {
  content: "\e001"; }

.flaticon-man216:before {
  content: "\e002"; }

.flaticon-stars4:before {
  content: "\e003"; }

.btn-secondary {
  border: solid;
  border-width: 1px;
  border-color: #79B988;
  color: #79B988;
}

.btn-secondary:hover {
  border: solid;
  border-width: 1px;
  border-color: #bdc3c7;
  color: #bdc3c7;
}
