      <div id="about" class="featurette cbp-so-section">
      	<div class="container">
      		<div class="row">
		        <div class="col-sm-7 cbp-so-side cbp-so-side-left">
		          <h2 class="featurette-heading">About</h2>
		    
			  <p>Minyan Dafna is an independent traditional egalitarian minyan in Berkeley, California. We come together two to three times a month for Friday night (Kabbalat Shabbat) and Shabbat morning davening. Through some experimention with different models of davening and learning, we are creating a vibrant, energetic, and inclusive community committed to <i>halakha</i>.</p>
              <p> If you’d like to contribute with your opinion, time, or in any other way, please let us know. We are excited about your involvement and about growing this prayer community together!</p>

              <p>Minyan Dafna is grateful for the support of the <a href="http://www.mechonhadar.org/alumni/microgrants/2014">Yeshivat Hadar Alumni Microgrant Fund</a> and the <a href="http://www.bronfman.org/alumniventurefund">Bronfman Alumni Venture Fund</a>, <a href="http://www.mhwow.org">Moishe House Without Walls</a>, <a href="http://www.netivotshalom.org">Congregation Netivot Shalom</a>, and <a href="http://www.edahcommunity.org">Edah</a>.</p>
              <button class="btn btn-default  " data-toggle="collapse" data-target="#kashrut" aria-expanded="false" aria-controls="kashrut">Kashrut Policy</button>


              <div class="collapse panel" id="kashrut">
                <div class="panel-body">
<!--                <h3>Explanation of Kashrut Policy</h3>-->
                <p>In an effort to accommodate all members of our community, we ask that all food for community events be prepared in a kosher kitchen, and that ingredients for the meal (including cheese) be marked with a recognized kosher symbol (more than just "K"). If you’d like to bring something to a potluck event but don’t have a kosher kitchen, you can always bring a packaged or raw kosher item, such as challah, wine, pre-made dessert, and fresh fruit. If you’re interested in hosting a Minyan Dafna event, but you’re not sure if your home kitchen meets these standards, please contact us and we will be happy to help!
                </p>
                </div>
              </div>


		        </div>
		        <div class="col-sm-5 cbp-so-side cbp-so-side-right">

		         <img class="featurette-image img-responsive" src="/img/roomphoto.jpg" alt="Photo of Minyan Dafna room setup">

		        </div>
		    </div>
      	</div>
      </div>
