      <div id="contact" class="featurette cbp-so-section">
      	<div class="container">
	      	<div class="row">
		        <div class="col-sm-7 cbp-so-side cbp-so-side-left">
		          <h2 class="featurette-heading">Contact Us &middot; <span class="text-muted">Join our List</span></h2>
		          <p class="lead">If you have any questions, or would like to help out in any way, please send us an email at info@amimiami.org.</p>
		          <p>We also send out <a href="http://us3.campaign-archive1.com/home/?u=06f3b216b5f6df14f2dbc9468&id=96663a08dd" title="View previous campaigns" target="_blank">weekly emails</a> with Shabbat information and our upcoming activities. Please fill out the form to join our list. </p>
		        </div>
		        <div class="col-sm-5 cbp-so-side cbp-so-side-right">


<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://amimiami.us3.list-manage1.com/subscribe/post?u=06f3b216b5f6df14f2dbc9468&amp;id=96663a08dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" role="form" class="validate" target="_blank" novalidate>
	
<div class="mc-field-group form-group">
	<label for="mce-EMAIL">Email Address</label>
	<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
</div>
<div class="mc-field-group form-group">
	<label for="mce-FNAME">First Name</label>
	<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
</div>
<div class="mc-field-group form-group">
	<label for="mce-LNAME">Last Name</label>
	<input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
</div>
<p></p>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_06f3b216b5f6df14f2dbc9468_96663a08dd" value=""></div>
	<div class="clear"><button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-warning btn-block">Sign Up for List</button></div>
</form>
</div>

<!--End mc_embed_signup-->
		        </div>
        	</div>
        </div>
      </div>
