      <div id="contact" class="featurette cbp-so-section">
      	<div class="container">
	      	<div class="row">
		        <div class="col-sm-7 cbp-so-side cbp-so-side-left">
		          <h2 class="featurette-heading">Contact Us &middot; <span class="text-muted">Join our List</span></h2>
		          <p class="lead">If you have any questions, or would like to help out in any way, please complete the <a href="#contact-form" aria-controls="contact-form" role="tab" data-toggle="tab">Contact</a> form or send us an email at <a href="mailto:info@minyandafna.org">info@minyandafna.org</a>.</p>
		          <p>We also send out <a href="http://us10.campaign-archive2.com/home/?u=2362730bb4a286a15bc1d5d60&id=b75fd77b41" data-toggle="tooltip" title="View past newsletters" target="_blank">The Daf, Minyan Dafna's email newsletter</a> with Shabbat information and our upcoming activities. Please fill out the <a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Signup</a> form to join our list. </p>
		        </div>
		        <div class="col-sm-5 cbp-so-side cbp-so-side-right">

              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Signup</a></li>
                <li role="presentation"><a href="#contact-form" aria-controls="contact-form" role="tab" data-toggle="tab">Contact</a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="signup">

                  <!-- Begin MailChimp Signup Form -->
                  <div id="mc_embed_signup">
                  <form action="http://minyandafna.us10.list-manage.com/subscribe/post?u=2362730bb4a286a15bc1d5d60&amp;id=b75fd77b41" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" role="form" class="validate" target="_blank" novalidate>

                  <div class="mc-field-group form-group">
                    <label for="mce-EMAIL">Email Address</label>
                    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                  </div>
                  <div class="mc-field-group form-group">
                    <label for="mce-FNAME">First Name</label>
                    <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
                  </div>
                  <div class="mc-field-group form-group">
                    <label for="mce-LNAME">Last Name</label>
                    <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
                  </div>
                  <p></p>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;"><input type="text" name="b_2362730bb4a286a15bc1d5d60_b75fd77b41" value=""></div>
                    <div class="clear"><button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-warning btn-block">Sign Up for List</button></div>
                  </form>
                  </div>

<!--End mc_embed_signup-->
		        </div>
            <div role="tabpanel" class="tab-pane" id="contact-form">
                  <form action="//formspree.io/info@minyandafna.org" method="post" id="contact-form-1" name="contact-form-1" role="form" class="validate" target="_blank" novalidate>

                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" value="" name="name" class="form-control" id="name">
                  </div>

                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" value="" name="email" class="required email form-control" id="email">
                  </div>
                  <div class="form-group">
                    <label for="more-info">I would like information about...</label>
                    <select class="form-control" name="more-info" id="more-info">
                      <option></option>
                      <option>Davening</option>
                      <option>Leining</option>
                      <option>Community</option>
                      <option>Other</option>
                    </select>
                    </div>

                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea value="" name="message" class="form-control" id="message" rows="3"></textarea>
                  </div>
                    <button type="submit" value="Submit" name="submit-message" id="submit-message" class="button btn btn-warning btn-block">Submit</button>
                  </form>
            </div>
        	</div>
        </div>
      </div>
    </div>
</div>
