    <div id="events" class="featurette cbp-so-section">
    	<div class="container">
	      	<div class="row">
	      	<div class="col-sm-12"><h3>Events</h3></div>
	      	<!-- PUT CLNDR IN HERE! -->
            
			<div class="col-sm-6">
			  <div class="thumbnail">
				  <div class="caption">
				    <h4>Purim Megillah Reading Extravaganza</h4>
				    <p>March 14, 2014 &middot; 7:30 PM</p>
				   </div>
			  
			    <img data-src="holder.js/500x200" alt="...">
			    <div class="caption">
			      <p><a href="#" class="btn btn-default" role="button">More Info</a></p>
			    </div>
			  </div>
			</div>

		<div class="col-sm-6">
		  <div class="thumbnail">
		  	<div class="caption">
		  		<h4>Limmud Miami</h4>
		  		<p>March 23, 2014 &middot; 12 PM</p>
		  		
		  	</div>
		  
		    <img data-src="holder.js/500x200" alt="...">
		    <div class="caption">
				<p><a href="#" class="btn btn-default" role="button">More Info</a></p>
		    </div>
		  </div>
		</div>

		<div class="col-sm-6">
		  <div class="thumbnail">
			  <div class="caption">
			  	<h4>Shabbat with Rabbi Dr. Zev Farber</h4>
			  	<p>March 28, 2014 &middot; 6:30 PM</p>
		  	  </div>
		    <img data-src="holder.js/500x200" alt="...">
		    <div class="caption">
				<p><a href="#" class="btn btn-default" role="button">More Info</a></p>
		    </div>
		  </div>
		</div>

			
	        </div>
	    </div>
    </div>
