<!-- Get involved -->
{% if site.locale and site.locale != "" and site.locale != nil %}
  <section class="page-section" id="{{ site.data.sitetext[site.locale].get-involved.section | default: "get-involved" }}">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].get-involved.title | default: "Get Involved" }}</h2>
          {% if site.data.sitetext[site.locale].get-involved.text %}
		  <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].get-involved.text }}</h3>
		  {% endif %}
        </div>
      </div>
	  
      <div class="row text-center">
	  {% for item in site.data.sitetext[site.locale].get-involved.list %}
        <div class="col-md-6">
          {% comment %}
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="{{ item.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
          </span>
          {% endcomment %}
          <h4 class="service-heading">{{ item.title | markdownify }}</h4>
          {% if item.desc %}<div class="text-muted">{{ item.desc | markdownify }}</div>{% endif %}
          {% for button in item.buttons %}
          <a class="btn btn-primary js-scroll-trigger ml-2 mr-2 mb-4" href="{{ button.url }}">{{ button.title }}</a>
          {% endfor %}
        </div>
	  {% endfor %}
      </div>
	  
    </div>
  </section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.get-involved.section | default: "get-involved" }}">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.get-involved.title | default: "Get Involved" }}</h2>
        {% if site.data.sitetext.get-involved.text %}
    <h3 class="section-subheading text-muted">{{ site.data.sitetext.get-involved.text }}</h3>
    {% endif %}
      </div>
    </div>
  
    <div class="row text-center">
  {% for item in site.data.sitetext.get-involved.list %}
      <div class="col-md-6">
        {% comment %}
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="{{ item.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
        </span>
        {% endcomment %}
        <h4 class="service-heading">{{ item.title | markdownify }}</h4>
        {% if item.desc %}<div class="text-muted">{{ item.desc | markdownify }}</div>{% endif %}
        {% for button in item.buttons %}
          <a class="btn btn-primary js-scroll-trigger mr-4" href="{{ button.url }}">{{ button.title }}</a>
          {% endfor %}
      </div>
  {% endfor %}
    </div>
  
  </div>
</section>
{% endif %}
<!-- End get involved -->