    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
<div class="marketing-wrap" id="about">

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
      	<div class="col-sm-12">
      	</div>
      </div>
      <div class="row">
        <div class="col-sm-4">
    		<i class="front_icons flaticon-love20"></i>

          <h3>Spirited Prayer</h3>
          <p>At the core of Ami Miami is our monthly Partnership-style Kabbalat Shabbat and evening services. We value communal leadership and equal participation while maintaining an environment that is stimulating, energetic, and respectful of tradition.</p>
          
          <p><a class="btn btn-default" href="#" role="button">Pray with Us &raquo;</a></p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
    		<i class="front_icons flaticon-book126 img-circle"></i>
    
          <h3>Engaging Learning</h3>
          <p>Ami Miami seeks to promote ongoing learning by providing opportunities for continued engagement. Local and visiting scholars and teachers lead text-focused interactive sessions on a wide variety of topics.</p>
          
          <p><a class="btn btn-default" href="#" role="button">Learn with Us &raquo;</a></p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
    		<div class="front_shape"><i class="front_icons flaticon-stars4"></i></div>
                  
          <h3>Vibrant Community</h3>
          <p>In addition to the spiritual and intellectual needs that Ami Miami fulfills, we are also creating a new communal space in the Miami Jewish landscape. Through our events such as Shabbat dinners and Purim Megillah readings, we build community and create the ties that bring us closer together.  Please help us in creating this community!</p>
          
          <p><a class="btn btn-default" href="#" role="button">Join our Community &raquo;</a></p>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div><!-- /.container .marketing -->
</div><!--  /.marketing-wrap  -->