<div class="marketing-wrap" id="meet">

    <div class="container marketing">

      <div class="row">
      	<div class="col-sm-12">
          <h2 class="featurette-heading">Meet Us</h2>
      	</div>
      </div>
      <div class="row">
        <div class="col-sm-4">
            <img src="img/md_box.png" class="img-responsive" alt="Elan & Sarah"></img>

              <h3>Elan &amp; Sarah</h3>
            <p>Dolore consequat doctrina ex minim iis possumus, aute consequat senserit,
              doctrina aut enim, arbitror quem pariatur o sunt ne occaecat in an quorum
              proident excepteur te si o cohaerescant.</p>
            <p><strong>Thing:</strong> More text blah balh blah</p>



        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
            <img src="img/md_box.png" class="img-responsive" alt="Elan & Sarah"></img>

          <h3>Raffi</h3>
          <p>Do hic despicationes ne et quorum laboris familiaritatem, consequat sunt ita
            pariatur exercitation do iudicem te velit. Ab amet quem te ingeniis. Aliqua
            excepteur mandaremus.</p>
          <p><strong>Thing:</strong> More text blah balh blah</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
            <img src="img/md_box.png" class="img-responsive" alt="Elan & Sarah"></img>

          <h3>Nehama</h3>
          <p>Hic dolore nostrud, hic nostrud philosophari. Eiusmod non nulla incurreret. Se
            est exquisitaque et iudicem an noster cernantur, eram ullamco ingeniis, probant
            distinguantur ne probant id o quid amet et senserit ea aute possumus do
            comprehenderit, ex id magna officia, tempor nam cillum possumus. </p>
          <p><strong>Thing:</strong> More text blah balh blah</p>

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div><!-- /.container .meet -->
</div><!--  /.marketing-wrap  -->
