<div class="marketing-wrap" id="meet">

    <div class="container marketing">

      <div class="row">
      	<div class="col-sm-12">
          <h2 class="featurette-heading">Faces</h2>
      	</div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="flipper">
            <img src="img/md_box.png" class="img-responsive fake-image" alt="">
            <div class="flipper-item" ontouchstart="this.classList.toggle('hover');">
              <figure class="ffront">
                <img src="img/elan_sarah.jpg" class="img-responsive" alt="Elan & Sarah"></img>
                <span>Elan &amp; Sarah</span>
              </figure>
              <figure class="fback">
                <p>Dolore consequat doctrina ex minim iis possumus, aute consequat senserit,
                doctrina aut enim, arbitror quem pariatur o sunt ne occaecat in an quorum
                proident excepteur te si o cohaerescant.</p>
                <p><strong>Thing:</strong> More text blah balh blah</p>
              </figure>
          </div>
        </div>

        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
          <div class="flipper">
            <img src="img/md_box.png" class="img-responsive fake-image" alt="">
            <div class="flipper-item" ontouchstart="this.classList.toggle('hover');">
              <figure class="ffront">
                <img src="img/raffi.jpg" class="img-responsive" alt="Raffi"></img>
                <span>Raffi</span>
              </figure>
              <figure class="fback">
                <p>Dolore consequat doctrina ex minim iis possumus, aute consequat senserit,
                doctrina aut enim, arbitror quem pariatur o sunt ne occaecat in an quorum
                proident excepteur te si o cohaerescant.</p>
                <p><strong>Thing:</strong> More text blah balh blah</p>
              </figure>
          </div>
        </div><!-- /.col-lg-4 -->
        </div>
        <div class="col-sm-4">
          <div class="flipper">
            <img src="img/md_box.png" class="img-responsive fake-image" alt="">
            <div class="flipper-item" ontouchstart="this.classList.toggle('hover');">
              <figure class="ffront">
                <img src="img/nehama.jpg" class="img-responsive" alt="Nehama"></img>
                <span>Nehama</span>
              </figure>
              <figure class="fback">
                <p>Dolore consequat doctrina ex minim iis possumus, aute consequat senserit,
                doctrina aut enim, arbitror quem pariatur o sunt ne occaecat in an quorum
                proident excepteur te si o cohaerescant.</p>
                <p><strong>Thing:</strong> More text blah balh blah</p>
              </figure>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div><!-- /.container .meet -->
</div><!--  /.marketing-wrap  -->
