///* GLOBAL STYLES AND FLAT UI OVERRIDES
//-------------------------------------------------- */

body {
///*	padding-top: 70px;*/
///*  padding-bottom: 40px;*/
  color: #5a5a5a;
  font-family: neris, sans-serif !important;
}

footer{
	padding: 1em;
}

//#parallax{
//	height: 672px;
//	width: 100%;
//	position: fixed;
//	background: url('/img/watercloud.jpg') center center no-repeat;
//	background-size: cover;
//	z-index: -100;
//}

a{
  color: $mdgreen;
}

a:hover{
  color: $mdbrown;
}

.form-group.focus .form-control, .form-control:focus{
  border-color: $mdgreen;
}
