///* MARKETING CONTENT
//-------------------------------------------------- */

//.marketing-wrap{
//	background: #fff;
//}

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 100px;
  padding-bottom: 50px;

  .col-sm-4 {
  text-align: center;
  margin-bottom: 100px;
  }

  .col-sm-4 p {
  margin-left: 10px;
  margin-right: 10px;
  }
}

.front_icons{
///*	width: 150px;*/
//  /*	background: #f5f5f5;*/
	font-size: 200px;
	line-height: 100px;
}

//.flaticon-love20, .flaticon-stars4{
//	color: $mdgreen;
//}
//
//.flaticon-book126{
//	color: $amiorange;
//}

// Responsive
@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .marketing-mini{
    padding-top: 0;
  }
}
