///* CUSTOMIZE THE NAVBAR
//-------------------------------------------------- */

.navbar-default{
/*	background-color: rgba(236, 238, 240,.5);*/
	background: transparent;
	transition: background-color .5s ease-in-out 0s;
}

//
///* Special class on .container surrounding .navbar, used for positioning it into place. */
///*.navbar-wrapper {
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  z-index: 20;
//}*/

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper{
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0px;
  }
}

.navbar-brand.navbar-light{
display: none !important;
}

.navbar-light{
//	display: none !important;
}

.navbar-nav{
  background: $mdgray;
}

.navbar .nav > li > a, .navbar .navbar-brand{
	color: $mdgreen;
  font-weight: 600;
}

.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover, .navbar .nav > li.active > a:focus,.navbar .nav > li > a:hover, .navbar .nav > li > a:focus, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus{
	color: $mdbrown;
}


a.navbar-light{
	color: $mdgreen !important;
}

a:hover.navbar-light, .active .navbar-light{
	color: $mdbrown !important;
}

.navbar-default .navbar-toggle:hover:before, .navbar-default .navbar-toggle:focus:before{
  color: $mdgreen;
}
