<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{site.name}} - {{site.meta.site_subtitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/{{site.bower}}bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/{{site.bower}}flat-ui/dist/css/flat-ui.css" rel="stylesheet">
    <link href="http://blufonts-bludrop.rhcloud.com/neris-fonts.css" rel="stylesheet">
    
    <link href="/css/style.css" rel="stylesheet">
    
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="{{site.bower}}flat-ui-official/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  
  <body id="home" data-spy="scroll" data-target=".navbar">
    
    {% include navbar.html %}	 
	
    {% include header.html %}
    
    {{ content }}

    {%include footer.html %}

    {%include modal.html %}


    <!-- Load JS here for greater good =============================-->
    <script src="/{{site.bower}}jquery/dist/jquery.min.js"></script>
    <script src="/{{site.bower}}bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/{{site.bower}}underscore/underscore.js"></script>
    <script src="/{{site.bower}}moment/min/moment.min.js"></script>
    <script src="/{{site.bower}}clndr/clndr.min.js"></script>
    <script src="/js/vendor.min.js"></script>
    <script src="/js/custom.js"></script>
    <script>
      //(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      //m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      //ga('create', 'UA-45447525-2', 'amimiami.org');
      //ga('send', 'pageview');

    </script>
  </body>
</html>
