<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">{{ page.title }}</h4>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <span class="glyphicon glyphicon-calendar"></span> &nbsp; <strong>{{ page.date |  date: "%b %d, %Y" }} &nbsp;&middot;&nbsp; {{ page.time }}</strong>
    </div>
    <div class="col-xs-6">

      <address>
        <span class="glyphicon glyphicon-road"></span> &nbsp;
        <strong>{{ page.venue }}</strong><br>
        {{ page.address }}
      </address>
    </div>
  </div>
      <iframe
        height="200"
        frameborder="0" style="border:0;width:100%"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDodo60_nRbolJuU7aj9RSStWJPgfDvKCc
  &q={{ page.address }}" allowfullscreen>
      </iframe>

  {{ content }}
</div>

{% if page.action %}
<div class="modal-footer">
  <a href="{{page.action-url}}" class="btn btn-warning" target="_blank">{{page.action}}</a>
</div>
{% endif %}
