---
layout: default
---

<div class="marketing-wrap" id="about" data-spy="scroll" data-target=".scrollspy">

    <div class="container marketing">

      <div class="row">
      	<div class="col-sm-9">
          <h2 class="featurette-heading">{{page.title}}</h2>
          {{content | markdownify}}


      	</div>
        <div class="col-sm-3 scrollspy">
          <ul class="nav nav-pills nav-stacked hidden-print hidden-xs hidden-sm" id="holidays-nav" data-spy="affix" data-offset-top="500">
            <li class="active"><a href="#dates-and-times">Dates and Times</a></li>
            <li><a href="#location">Location</a></li>
            <li><a href="#participating">Participating</a></li>
            <li><a href="#hospitality">Hospitality</a></li>
            <li><a href="#donate">Donate</a></li>
            <li><a href="#questions">Questions</a></li>
          </ul>
        </div>
      </div>

    </div><!-- /.container .marketing -->
</div><!--  /.marketing-wrap  -->
