---
layout: default
---

<div class="marketing-wrap" id="about" data-spy="scroll" data-target=".scrollspy">

    <div class="container marketing">

      <div class="row">
      	<div class="col-sm-12">
          <h2 class="featurette-heading">{{page.title}}</h2>
          {{content | markdownify}}


      	</div>

<!--
        <div class="col-sm-3">
          <button type="button" class="btn btn-primary btn-lg btn-block">RSVP Here</button>
        </div>
      </div>
-->

    </div><!-- /.container .marketing -->
</div><!--  /.marketing-wrap  -->
