<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">{{ page.title }}</h4>
  <h3 class="meta">{{ page.event-start }}</h3>
  <h3 class="meta">{{ page.event-venue }}</h3>
  <p class="meta">{{ page.event-address }}</p>
</div>

<div class="modal-body">
  {{ content }}
</div>

{{% if page.event-action %}}
<div class="modal-footer">
  <a href="{{page.event-action-url}}" class="btn btn-primary">{{page.event-action}}</a>
</div>
{{% endif %}}
